/*
Darius Clark
Project 2
CSS
1202
*/

h1{
	border:2px solid black;
	margin: 20px;
	padding: 10px;
	width:230px;
}



body {
	background-color:#6495ed;
	font: 14px Helvetica, Arial, Sans-serif;
	color: #555;
}

ul{
	list-style:none;
}

li{
	padding: 0 0 5px;
}

form{
	padding: 10px;
}

fieldset{
	border: #0b0974 2px dashed;
}

legend{
	text-transform: uppercase;
	color: #433345;
	background: #fff;
	padding: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

header h1{
	text-transform: uppercase;
	font-size: 24px;
	margin-left: 10px;
	background: #0b0974;
	color: #fff;
	padding: 5px 10px;
	width: 230px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

header p{
	font-size: 16px;
	padding: 0;
	margin-left: 10px;
}


#submit{
	padding:5px 10px;
	background: #0b0974;
	color: #fff;
	border: 0;
	font-size: 14px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	margin-top: 10px;
}
